$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap.scss';

@import './partials/_variables.scss';

.text-light-red{
    color: var(--light-red)!important;
}

.bg-light-red{
    background-color: var(--light-red)!important;
}

.text-dark-red{
    color: var(--dark-red)!important;
}

.bg-dark-red{
    background-color: var(--dark-red)!important;
}

.text-poke-blue{
    color: var(--poke-blue)!important;
}

.bg-poke-blue{
    background-color: var(--poke-blue)!important;
}

.text-light-yellow{
    color: var(--light-yellow)!important;
}

.bg-light-yellow{
    background-color: var(--light-yellow)!important;
}

.text-dark-yellow{
    color: var(--dark-yellow)!important;
}

.bg-dark-yellow{
    background-color: var(--dark-yellow)!important;
}

.bg-gray {
    background-color: darkgray!important;
}

body {
  position: relative;
}


.swiper {
  width: 480px;
  height: 640px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}